<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    </head>
    <body>
        {{ form_start(form, {method: 'PATCH'}) }}
            <input type="submit">
        {{ form_end(form) }}
        <script>
            $('form').submit(function() {
                var el = $('input:checked');
                $.ajax({
                    type: "PATCH",
                    url: $(this).attr('action'),
                    data: [
                        {name: el.attr('name'), value: el.val()}
                    ],
                    success: function (data) {
//                        window.location.reload();
                    }
                });
                return false;
            });
        </script>
    </body>
</html>
